# Modelo machine learning.

In [131]:
import numpy as np
import pandas as pd

In [183]:
data = pd.read_csv('archive\data4model.csv')
data

,year,country,"Life expectancy at birth, total (years)",Population growth (annual %),"School enrollment, tertiary (% gross)",Internet Users(%),GDP per capita (current US$),"Inflation, consumer prices (annual %)"
0,2018,EGY,71.367,1.898931,38.904949,46.924335,2531.200079,14.401466
1,2017,EGY,71.302,1.989768,35.164520,44.950203,2439.967284,29.506608
2,2016,EGY,70.844,2.086303,33.858910,41.248066,3331.612461,13.813606
3,2015,EGY,70.483,2.205260,35.028130,37.819382,3370.382447,10.370490
4,2014,EGY,70.415,2.343793,31.068110,33.894604,3196.861381,10.070215
...,...,...,...,...,...,...,...,...
235,2016,CHN,77.218,0.573051,48.019020,53.200001,8094.390375,2.000002
236,2015,CHN,76.977,0.581456,46.040428,50.299999,8016.446016,1.437024
237,2014,CHN,76.717,0.630326,42.430729,47.900002,7636.074223,1.921642
238,2013,CHN,76.452,0.666073,32.433670,45.799999,7020.385682,2.621050
239,2012,CHN,76.192,0.678345,28.725670,42.300117,6300.582352,2.619524

## Incorporacion de la variable objetivo

In [264]:
## condiciones logicas

a = data['Life expectancy at birth, total (years)'] > 75.0
b = data['Population growth (annual %)'] > 1
c = data['GDP per capita (current US$)'] >= 6955.594138
d = data['Internet Users(%)'] > 60.0
e = data['School enrollment, tertiary (% gross)'] >= 45.0
f = data['Inflation, consumer prices (annual %)'] < 7.5

indices = {'Life expectancy at birth, total (years)':a,
         'Population growth (annual %)':b,
         'GDP per capita (current US$)': c,
         'Internet Users(%)':d,
         'School enrollment, tertiary (% gross)':e,
         'Inflation, consumer prices (annual %)':f}

In [265]:
# Clasificacion
i = 0
for condicion in indices:
    i += 1
    data[f'Y{i}'] = data[condicion][indices[condicion]]
    
#Vectorizacion    
vector = data[['Y1','Y2','Y3', 'Y4','Y5','Y6']].fillna(0).applymap(lambda x: 1 if x!=0 else x)

#numero de veces que se cumple una condicion  
data['cond'] = vector['Y1'] + vector['Y2'] + vector['Y3'] + vector['Y4'] + vector['Y5'] + vector['Y6']

data = data.drop(columns=['Y1','Y2','Y3', 'Y4','Y5','Y6'])

In [266]:
#variable objetivo

data['Y'] = np.nan

for i in range(len(data)):
    if data['cond'][i] >= 4: # Numero minimo de condiciones a cumplir
        data['Y'][i] = 0
    else:
        data['Y'][i] = 1

C:\Users\ManVi\AppData\Local\Temp\ipykernel_8116\3083404818.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Y'][i] = 1
C:\Users\ManVi\AppData\Local\Temp\ipykernel_8116\3083404818.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['Y'][i] = 0

In [196]:
data[data['Y'] == 0]

,year,country,"Life expectancy at birth, total (years)",Population growth (annual %),"School enrollment, tertiary (% gross)",Internet Users(%),GDP per capita (current US$),"Inflation, consumer prices (annual %)",cond,Y
7,2020,USA,76.980488,0.964348,87.567657,90.900002,63528.634303,1.233584,4.0,0.0
8,2019,USA,78.787805,0.455381,87.888710,89.430283,65120.394663,1.812210,4.0,0.0
9,2018,USA,78.639024,0.526435,88.299179,88.498901,62823.309438,2.442583,4.0,0.0
10,2017,USA,78.539024,0.632644,88.167389,87.274887,59907.754261,2.130110,4.0,0.0
11,2016,USA,78.539024,0.724676,88.835052,85.544418,57866.744934,1.261583,4.0,0.0
...,...,...,...,...,...,...,...,...,...,...
225,2017,RUS,72.451463,0.106871,81.909309,76.008141,10720.332031,3.683329,4.0,0.0
226,2016,RUS,71.651220,0.170245,80.632622,73.091438,8704.894531,7.042448,4.0,0.0
229,2013,RUS,70.578780,0.212951,77.850319,67.970001,15974.623047,6.753710,4.0,0.0
230,2012,RUS,70.072195,0.168305,75.907089,66.000000,15420.858398,5.074743,4.0,0.0
231,2020,CHN,78.077000,0.238041,58.420101,70.404778,10408.719125,2.419422,4.0,0.0

### Ya esta el dataset listo para el entrenamiento

In [213]:
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import roc_auc_score

In [197]:
data.columns

Index(['year', 'country', 'Life expectancy at birth, total (years)',
       'Population growth (annual %)', 'School enrollment, tertiary (% gross)',
       'Internet Users(%)', 'GDP per capita (current US$)',
       'Inflation, consumer prices (annual %)', 'cond', 'Y'],
      dtype='object')

In [267]:
X = data[['Life expectancy at birth, total (years)',
          'Population growth (annual %)', 'School enrollment, tertiary (% gross)',
          'Internet Users(%)', 'GDP per capita (current US$)',
          'Inflation, consumer prices (annual %)']]

Y = data['Y']

X = np.array(X)
Y = np.array(Y)

print(X.shape,'  ',Y.shape)

(240, 6)    (240,)

In [268]:
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.30, random_state=42)

print(X_train.shape, X_test.shape, y_train.shape,y_test.shape)

(168, 6) (72, 6) (168,) (72,)

In [274]:
arbol = tree.DecisionTreeClassifier(max_depth=3)
arbol = arbol.fit(X_train,y_train)
arbol

DecisionTreeClassifier(max_depth=3)

Se evalua la precision del modelo

In [275]:
y_pred = arbol.predict(X_test)
accuracy_score(y_test,y_pred)

0.9305555555555556

In [276]:
roc_auc_score(y_test,y_pred)

0.8958333333333333

In [277]:
# Prueba Unitaria

predicc = np.array([79,1.0,46.0,60.0,5600.0,3.6])
predicc = predicc.reshape(1,-1)
arbol.predict(predicc)

array([0.])